.global-loading-container
    height 100vh
    display flex
    justify-content center
    align-items center
.loading-panel
    img 
        width 280px
    p
        font-size 14px 
        color #999
        text-align center 
        margin-top 10px
